@media(max-width: 600px){
    .hero-section{
        flex-direction: column;
    }
    .hero-left{
        width: 100%;
    }
    .hero-right{
        width: 100%;
        margin-top: 20px;
        height: 200px;
    }
}